@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap";

$primary-color: #8945FF;
$secondy-color: #FF6265;
$background-color: #161616;
$background-gradient-color: #3A34E6;
$text-color: #fff9eb;
$stack-font: Poppins;
